{% include 'incl/header.twig' %}

<body>
  
    {% include 'incl/nav.twig' %}
    <img class="flash-img" src="{{ base_url }}/assets/img/banner.jpg" alt="brown leafs">
    <div class="main" role="main">
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
